<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>All-onboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/cars.css") %>">
  </head>
  <body>
    <div class="container" role="main">
      <div class="header">
        <div class="row">
          <div class="col-md-8">
            <span class="logo"></span>
            <h2><small>Simplifying car rentals</small></h2>
          </div>
          <div class="col-md4">
            <ul class="nav nav-pills pull-right">
              <li><a href="<%= car_path(@conn, :index) %>">List Cars</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner %>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
